ion-content {

    --background: url("../../assets/images/new.jpg") no-repeat center center fixed;
    background-size: contain;
  
  }
  
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
    
    
      
      